*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: url(./images/hero.jpeg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.info-box,
.modal {
  background-color: white;
  box-shadow: 2px 2px 5px grey;
  text-align: center;
  border-radius: 8px;
  max-width: 90vw;
}

.info-box__title {
  font-size: 3rem;
  margin: 2rem 6rem;
}

.open-modal,
.visitBtn {
  margin: 2rem 6rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 8px;
  background-color: rgb(23, 179, 179);
  color: white;
  cursor: pointer;
  border: 1px solid rgb(23, 179, 179);
  transition: all 0.3s ease-in-out;
}
.visitBtn > a {
  color: white;
}

.open-modal:hover {
  background-color: white;
  color: rgb(23, 179, 179);
  border: 1px solid rgb(23, 179, 179);
}

.close-modal {
  text-align: right;
  margin: 1rem 1rem 0 0;
  font-size: 2.5rem;
  color: red;
  cursor: pointer;
}

.modal {
  display: none;
  position: absolute;
}

.show-modal {
  display: block;
  animation: fadein 0.2s linear forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 12px;
  }
}
